* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  background-color: lightslategray;
}

.app__left {
  display: flex;
  flex: 0.5;
  /* mask-image: linear-gradient(to bottom, rgb(57, 93, 160), rgba(67, 72, 78, 0)); */
  background-color: black;
  height: 100vh;
  /* margin: 10px; */
  padding: 10px;
  /* border-radius: 10px; */
  justify-content: center;
  align-items: center;
}

.app__right {
  display: flex;
  flex: 0.5;
  background-color: white;
  height: 100vh;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px; */
  padding: 10px;
  text-align: center;
  justify-content: center;

  /* border-radius: 10px; */
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    margin-left: 10px;
  }
}
